.navbar {
    background-color: rgb(51, 48, 48);
}

.navbar-nav a {
    color: white;
    font-size: 1.3em;
}

.buscador {
    width: 300px;
    border-radius: 15px;
    margin: 0 auto;
}

.btn {
    border: blue;
}

.iconos {
    font-size: 20px;
}