<!--inicio NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <a class="navbar-brand logo" href="#"><i class="fas fa-camera-retro"></i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Menu<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle productos" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" [routerLink]="['/productos']">Ver Todos</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/productos/camaras']">Camaras</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/productos/objetivos']">Objetivos</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/productos/accesorios']">Accesorios</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" [routerLink]="['/cursos']">Cursos
                </a>
                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/cursos']">Cursos
                </a> -->
                <!--   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" [routerLink]="['/cursos']">Ver Todos</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/cursos/iniciacion']">Nivel Iniciacion</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/cursos/medio']">Nivel Medio</a>
                    <a class="dropdown-item" href="#" [routerLink]="['/cursos/avanzado']">Nivel Avanzado</a>
                </div> -->
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 buscador">
            <input class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="iconos">
            <a href="#" [routerLink]="['/registro']"><i class="fas fa-user"></i></a>
            <a href="#" [routerLink]="['/carrito']"><i class=" fas fa-shopping-cart"></i></a>
        </div>
    </div>
</nav>

<!-- slider -->

<router-outlet (activate)="onActivate($event)"></router-outlet>
<!-- <app-carrito [listaPedido]="arrPedido"></app-carrito> -->





<!-- Inicio de FOOTER -->



<footer class="container-fluid">
    <div class="arrow">
        <a href="#navbarSupportedContent"><i class="fas fa-chevron-up"></i></a>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="social">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                <li><a href=""><i class="fab fa-google"></i></a></li>
                <li></li>
            </ul>
        </div>

        <!-- <div class="col-12 col-md-6">
            <ul>
                <li>ghghghg</li>
                <li>gggggg</li>
                <li></li>
            </ul>
        </div> -->
    </div>


    <div class="row copy">
        <div class="col-12">
            <p>Copyright</p>
        </div>
    </div>

</footer>


<!-- 
<div class="iconos">
    <a href="#"><i class="far fa-user-circle"></i></a>
    <a href=""><i class="fas fa-shopping-cart"></i></a>
</div> -->