.pagina{
    margin-top: 5em;
}

/* FILTRO */

.filtro{
    width:350px;
    height: 1400px;
    background-color: rgb(51,48,48);
    margin: 0.8em;
    border-radius: 10px;
}

.filtro{
    margin-top: 10px;
    color: white;
}

.filtro h2{
    text-align: center;
}

.titulofiltro{
    margin-left: 1em;
}

span{
    margin-left: 1em;
}

.filtro .filtros, .filtros li{
    margin: 0.5em 1em;
}

.filtro .filtros .tituloLi{
    font-size: 1.3em;
}

.filtro .filtros input{
    margin-bottom: 1em;
    margin-left: 2em;
}

.filtro .filtros .range-slider{
    margin-left: -4em;
    margin-top: 1em;
}

/* TITULO SECCION */
    .tituloseccion{
        color: rgb(51,48,48);
        margin: 1em 0 0.1em 1em;
    }

/* PRODUCTOS */

.productos{
    margin-right: 6em;
}
.card img{
    width:200px;
    height:150px;
    margin: 0.5em auto 0 auto;
}

.card{
    width: 310px;
    height: 400px;
    margin: 1em;
}

.card .text-danger{
    font-size: 1.2em;
}
.btn{
    margin-left: 90px;
}




