<div class="card-group float-right">
    <div>
        <div class="card ">
            <img class="card-img-top"
                src="https://dukefotografia.com/30083-thickbox_default/nikon-d5600-cuerpo-en-caja-de-kit-nikon.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Nikon D5600</h5>
                <p class="card-text text-center"> 24.7MP</p>
                <p class="card-text text-center"><small class="text-danger">700€</small></p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71SU6uY1QOL._SL1500_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Sony alpha 7 II</h5>
                <p class="card-text text-center"> 24.3MP WiFi + Objetivo FE 28-70mm F3.5-5 OSS</p>
                <p class="card-text text-center"><small class="text-danger">400€</small></p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71-lfAJPGML._AC_SX466_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Canon EOS 90D</h5>
                <p class="card-text text-center"> 24.2MP WiFi + EF-S 18-55mm F3.5-5.6 IS STM
                </p>
                <p class="card-text text-center"><small class="text-danger">295€</small></p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
<div class="card-group float-right">
    <div>
        <div class="card">
            <img class="card-img-top"
                src="https://dukefotografia.com/30083-thickbox_default/nikon-d5600-cuerpo-en-caja-de-kit-nikon.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Nikon D7200</h5>
                <p class="card-text text-center">24MP Bluetooth + Objetivo AF-P 18-55mm F3.5/5.6 VR</p>
                <p class="card-text text-center"><small class="text-danger">750€</small></p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71SU6uY1QOL._SL1500_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Canon EOS 4000D</h5>
                <p class="card-text text-center">18MP WiFi + EF-S 18-55mm F3.5-5.6 DC III</p>
                <p class="card-text text-center"><small class="text-danger">550€</small></p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
        <div>
            <div class="card">
                <img class="card-img-top"
                    src="https://images-na.ssl-images-amazon.com/images/I/71-lfAJPGML._AC_SX466_.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Card title</h5>
                    <p class="card-text text-center"> 18.2MP Wifi NFC Negra</p>
                    <p class="card-text text-center"><small class="text-danger">1200€</small></p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>