/* FILTRO */

.container-fluid {
    padding-top: 150px;
    padding-bottom: 6rem;
}

.filtro {
    width: 100%;
    background-color: rgb(250, 248, 248);
    margin: 0.8em;
    margin-top: 20px;
    color: black;
}

.filtro h3 {
    padding-top: 50px;
}

.filtro h2 {
    text-align: center;
}

.titulofiltro {
    margin-left: 1em;
}


/* span {
    margin-left: 1em;
} */

.filtros {
    list-style-type: none;
}

.filtro .filtros,
.filtros li {
    margin: 0.5em 0em;
    font-size: 1.2em;
}

.filtro .filtros .tituloLi {
    font-size: 1.3em;
    list-style: none;
}

.filtro .filtros input {
    margin-bottom: 1em;
}

.filtro .filtros .range-slider {
    margin-left: -4em;
    margin-top: 1em;
}


/* TITULO SECCION */


/* 
.tituloseccion {
    color: rgb(51, 48, 48);
    margin: 1em 0 0.1em 1em;
} */


/* PRODUCTOS */

.card-producto {
    padding: 40px;
}

.precioText {
    font-size: 1.5em;
}

.precio {
    font-weight: bold;
    text-align: center;
}

.boton-primario {
    background-color: transparent;
    border: 1px solid #212122;
    color: #212122;
    padding: 10px 30px;
    border-radius: 0!important;
}

.boton-primario:hover {
    background-color: #212122;
    border: 1px solid #212122;
    color: #fff
}

i{
    margin-left: 0.5em;
    cursor: pointer;
    transition: 0.5s;
}

i:hover{
    transform: rotate(90deg);
}