<div class="pagina">
    <div class="float-left">
        <div class="filtro">
            <hr>
            <h2>Filtro</h2>
            <h3 class="titulofiltro">Cámaras</h3>
            <ul class="filtros">
                <li class="tituloLi">Marca</li>

                <input name="marca" value="nikon" type="radio" id="nikon"
                    (change)="manejarCheckMarca($event)" /><span>Nikon</span>
                <br>
                <input name="marca" value="canon " type="radio" id="canon"
                    (change)="manejarCheckMarca($event)" /><span>Canon</span>
                <br>
                <input name="marca" value="sony " type="radio" id="Sony"
                    (change)="manejarCheckMarca($event)" /><span>Sony</span>
                <br>
                <input name="marca" value="olympus " type="radio" id="Olympus"
                    (change)="manejarCheckMarca($event)" /><span>Olympus</span>


                <li class="tituloLi">Resolución</li>

                <input value="0" type="radio" name="resolucion" (change)="manejarCheckResolucion($event)" /> <span>12mp
                    - 16mp</span>
                <br>
                <input value="1" type="radio" name="resolucion" (change)="manejarCheckResolucion($event)" /><span>20mp -
                    24mp</span>
                <br>
                <input value="2" type="radio" name="resolucion"
                    (change)="manejarCheckResolucion($event)" /><span>>35</span>


                <li class="tituloLi">Iso</li>

                <input value="0" type="radio" name="iso" (change)="manejarCheckIso($event)" /><span>6400 - 12800</span>
                <br>
                <input value="1" type="radio" name="iso" (change)="manejarCheckIso($event)" /><span>25600 - 51300</span>
                <br>
                <input value="2" type="radio" name="iso" (change)="manejarCheckIso($event)" /><span>> 100.000</span>

            </ul>

            <!-- Filtro Objetivos -->



            <h3 class="titulofiltro">Objetivos</h3>
            <ul class="filtros">

                <li class="tituloLi">Marca</li>

                <input value="nikkor" type="radio" name="marcaObjetivo" (change)="manejarCheckObjetivo($event)" /><span>
                    Nikkor</span>
                <br>
                <input value="canon" type="radio" name="marcaObjetivo" (change)="manejarCheckObjetivo($event)" /><span>
                    Canon</span>
                <br>
                <input value="sony" type="radio" name="marcaObjetivo" (change)="manejarCheckObjetivo($event)" /><span>
                    Sony</span>
                <br>
                <input value="olympus" type="radio" name="marcaObjetivo"
                    (change)="manejarCheckObjetivo($event)" /><span>
                    Olympus</span>



                <li class="tituloLi">Focal</li>

                <input value="0" type="radio" name="focal" (change)="manejarCheckFocal($event)" /><span>16-24 mm</span>
                <br>
                <input value="1" type="radio" name="focal" (change)="manejarCheckFocal($event)" /><span>24-50 mm</span>
                <br>
                <input value="2" type="radio" name="focal" (change)="manejarCheckFocal($event)" /><span>> 85 mm</span>
                <br>

            </ul>




            <!-- filtro por accesorios -->

            <h3 class="titulofiltro">Accesorios</h3>
            <ul class="filtros">
                <li class="tituloLi">Marca</li>

                <input value="k&f" type="radio" name="accesorios"
                    (change)="manejarCheckAccesorios($event)" /><span>K&F</span>
                <br>
                <input value="manfroto" type="radio" name="accesorios"
                    (change)="manejarCheckAccesorios($event)" /><span>Manfroto</span>
                <br>
                <input value="newer" type="radio" name="accesorios"
                    (change)="manejarCheckAccesorios($event)" /><span>Newer</span>

            </ul>

            <h3 class="titulofiltro">Rango de precio</h3>
            <ul class="filtros">
                <input value="0" type="radio" name="precio" (change)="manejarCheckPrecio($event)" /><span>10 - 250 €
                </span>
                <br>
                <input value="1" type="radio" name="precio" (change)="manejarCheckPrecio($event)" /><span>275 - 500
                    €</span>
                <br>
                <input value="2" type="radio" name="precio" (change)="manejarCheckPrecio($event)" /><span> 550-1000
                    €</span>
                <br>
                <input value="3" type="radio" name="precio" (change)="manejarCheckPrecio($event)" /><span> 1200 - 2500
                    €</span>

                <!-- <section class="range-slider">
                    <span class="rangeValues"></span>
                    <input value="0" min="0" max="1000" step="100" type="range">
                    <input value="2500" min="1050" max="2500" step="100" type="range">
                </section> -->
            </ul>
        </div>
    </div>


    <!-- PRODUCTOS -->

    <div class="productos">
        <div class="row">
            <h2 class="tituloseccion">Cámaras</h2>
            <div class="card-group float-right">
                <div *ngFor="let producto of productos">
                    <div class="card col-lg-12">
                        <div class="carousel slide" data-ride="carousel">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img [src]="producto.imagen1" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img [src]="producto.imagen2" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img [src]="producto.imagen3" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleFade" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleFade" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                            <!-- <img class="card-img-top" [src]="producto.imagen1" alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title text-center">{{producto.marca}} {{producto.modelo}}</h5>
                                <p class="card-text text-center"><span class="negrita">Categoria:
                                    </span>{{producto.categoria}}<span class="negrita">Resolución:
                                    </span>{{producto.resolucion}}<span class="negrita">Peso:
                                    </span>{{producto.peso}}<span class="negrita">Focal: </span>{{producto.focal}}<span
                                        class="negrita">Altura: </span>{{producto.altura}}</p>
                                <p class="card-text text-center"><span class="negrita">Precio: </span><small
                                        class="text-danger">{{producto.precio}}€</small>
                                </p>
                                <button type="button" class="btn btn-outline-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/91%2BBDENUjUL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nikon Coolpix B600</h5>
                        <p class="card-text text-center"> Cámara Réflex - Nikon D7500, 21 MP, 4K, WiFi, Bluetooth +
                            Objetivo
                            AF-S 18-140mm f/3.5-5.6G ED VR</p>
                        <p class="card-text text-center"><small class="text-danger">300€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/81OXkfWNa3L._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nikon D5600</h5>
                        <p class="card-text text-center"> Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">295€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div> -->
            <!--         <div class="card-group float-right">
            <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/81hX14JYLpL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nikon D750</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">750€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/718wPji6vSL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Canon EOS 2000D</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">550€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/91re8M%2BtB-L._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Canon EOS 77D </h5>
                        <p class="card-text text-center"> Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">1200€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div> -->
            <!--         <div class="card-group float-right">
            <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/61zcWNrv65L._SL1080_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Canon EOS 90D</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">750€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/718wPji6vSL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sony RX10</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">550€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51T%2BPr5F9JL.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sony Alpha 7 </h5>
                        <p class="card-text text-center"> Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">1200€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div> -->
            <!--         <div class="card-group float-right">
            <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/71C1Zp4lTSL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sony Alpha 7S</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">750€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/91Qro4jz5yL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Olympus M10</h5>
                        <p class="card-text text-center">Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">550€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
            <!--             <div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://images-na.ssl-images-amazon.com/images/I/91vN5YilrvL._SL1500_.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Panasonic FZ330 </h5>
                        <p class="card-text text-center"> Cámara Reflex - Canon EOS 77D + Objetivo 18-55MM IS STM, SLR,
                            24.2MP
                        </p>
                        <p class="card-text text-center"><small class="text-danger">1200€</small></p>
                        <button type="button" class="btn btn-outline-primary">Comprar</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>