<!-- <div id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider17.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
 -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/imagen7.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>INICIACION</h2>
                <p>En este curso de iniciación a la fotografía descubriremos de una manera práctica los fundamentos de la técnica fotográfica y aprenderemos a manejar nuestras cámaras con eficacia. Realizaremos ejercicios fotográficos que estimularán nuestra
                    creatividad y nuestra afición a la fotografía.</p>
                <button class="btn boton-primario" (click)="manejarClickIniciacion()">+ info</button>
            </div>
        </div>
    </div>








    <div class="row flex-column-reverse flex-md-row">

        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto-par">
                <h2>FOTOGRAFIA NOCTURNA</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
                <button class="btn boton-primario" (click)="manejarClickMedio()">+ info</button>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <img src="../assets/images/nocturna.jpg" alt="" class="caja-imagen">
        </div>
    </div>





    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/imagen7.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>CURSO INICIACION</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
                <button class="btn boton-primario" (click)="manejarClickAvanzado()">+ info</button>
            </div>
        </div>
    </div>

</div>