<!-- <div id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider17.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
 -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/imagen7.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>INICIACION</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
            </div>
        </div>
    </div>




    <div class="row">

        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto-par">
                <h2>FOTOGRAFIA NOCTURNA</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <img src="../assets/images/nocturna.jpg" alt="" class="caja-imagen">
        </div>
    </div>





    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/imagen7.jpg" alt="" class="caja-imagen">
        </div>
        <div class="col-12 col-md-3 alineado-vertical">
            <div class="caja-texto">
                <h2>CURSO INICIACION</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
            </div>
        </div>
    </div>

</div>