<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider6.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <img src="../assets/images/gatocamara.jpg" alt="">
        </div>
        <div class="col-12 col-md-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta voluptatibus, placeat est numquam a aspernatur rerum labore cupiditate illum alias iste cum magni aperiam harum vero, corporis ipsam molestias!</p>
        </div>
    </div>

</div>