<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider20.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<h4>La creación de la fotografía nos ayudó a saber cómo nos vemos con los ojos cerrados</h4>
<p>Al igual que otros datos curiosos, este es uno muy peculiar, porque hasta la creación de la fotografía, las personas no sabían cómo se veían con los ojos cerrados, pues frente al espejo se podían hacer gestos, menos lo otro.</p>