<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider20.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<!-- <h4>La creación de la fotografía nos ayudó a saber cómo nos vemos con los ojos cerrados</h4>
<p>Al igual que otros datos curiosos, este es uno muy peculiar, porque hasta la creación de la fotografía, las personas no sabían cómo se veían con los ojos cerrados, pues frente al espejo se podían hacer gestos, menos lo otro.</p> -->

<!-- Section Blog -->
<section id="blog">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-offset-3 text-center">
                <h2>
                    <span class="ion-minus"></span>Blog Posts<span class="ion-minus"></span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p><br>
            </div>
        </div>

        <div class="row">

            <div id="slider" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                </ol>


                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        <a class="btn boton-primario" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        <a class="btn boton-primario" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/129441/pexels-photo-129441.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        <a class="btn boton-primario" href="#">Read More</a>
                                    </div>