<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider/slider20.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<!-- <h4>La creación de la fotografía nos ayudó a saber cómo nos vemos con los ojos cerrados</h4>
<p>Al igual que otros datos curiosos, este es uno muy peculiar, porque hasta la creación de la fotografía, las personas no sabían cómo se veían con los ojos cerrados, pues frente al espejo se podían hacer gestos, menos lo otro.</p> -->
<section class="sectiongrey">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="../../assets/images/main.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h3>¿Qué cámara me compro?</h3>
                <p>La mejor cámara de fotos que puedes comprar es aquella que más se adapta a tus necesidades fotográficas y a tu presupuesto. Puede que solo estés pensando en comprar cámaras de fotos baratas o, por contra, quieras comprarte una cámara fotográfica
                    digital de gama alta pero en cualquier caso, es muy importante que tengas en cuenta la siguiente información a la hora de elegir tu máquina de fotos.
                </p>
                <button class="btn boton-primario" [routerLink]="['/productos']">Ir a Productos</button>
                <p>Para en un gran fotográfo, vas a necesitar una buena cámara. A la hora de comprar, hoy día hay tantas opciones que muchas veces complican las cosas para quien no es experto. ¿Mientras más megapixeles la cámara es mejor? No necesariamente…
                    Aprende todo lo que necesitas saber en este curso gratis.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="tabla container">
    <h2 class="text-center">¿Necesitas ayuda para encontrar lo que necesitas?<br> Realiza el cuestionario y te ayudaremos
    </h2>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Técnica naturaleza</th>
                <th scope="col">Técnica nocturna</th>
                <th scope="col">Técnica retrato/estudio</th>
                <th scope="col">Técnica macro</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">Tecnica fotográfica</th>
                <td><input id="tecnicanaturaleza" value="tecnicanaturaleza" type="checkbox" (change)="manejarTecnicaNaturaleza($event)"></td>
                <td><input id="tecnicanocturna" value="tecnicanocturna" type="checkbox" (change)="manejarTecnicaNocturna($event)"></td>
                <td><input id="tecnicaretrato" value="tecnicaretrato" type="checkbox" (change)="manejarTecnicaRetrato($event)"></td>
                <td><input id="tecnicamacro" value="tecnicamacro" type="checkbox" (change)="manejarTecnicaMacro($event)"></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">10 - 250€</th>
                <th scope="col">275€ - 500€</th>
                <th scope="col">550€ - 1000€</th>
                <th scope="col">1000€ - 2000€</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Presupuesto</th>
                <td><input type="radio" name="radio" value="0" (change)="manejarCheckPrecio($event)"></td>
                <td><input type="radio" name="radio" value="1" (change)="manejarCheckPrecio($event)"></td>
                <td><input type="radio" name="radio" value="2" (change)="manejarCheckPrecio($event)"></td>
                <td><input type="radio" name="radio" value="3" (change)="manejarCheckPrecio($event)"></td>
            </tr>
        </tbody>
    </table>

    <input value="Ver resultado" type="button" class="btn btn-dark btn-lg btn-block" (click)="manejarResultado()">
    <p *ngIf="mostrarNoResultados" class="no-result text-center">No hay ningún resultado para esta búsqueda</p>
</div>


<!-- Section Blog -->
<section class="sectiongrey">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-offset-3 text-center">
                <h2>
                    <span class="ion-minus"></span>Blog Posts<span class="ion-minus"></span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p><br>
            </div>
        </div>

        <div class="row">

            <div id="slider" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                </ol>


                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">

                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">21 lugares recomendados por fotógrafos para visitar en primavera
                                        </h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        <button class="btn boton-primario" href="#" [routerLink]="['/blog']">Seguir leyendo</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                                        <button class="btn boton-primario" href="#" [routerLink]="['/blog']">Seguir leyendo</button>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 col-md-4">
                                <div class="card text-center">
                                    <img class="card-img-top" src="https://images.pexels.com/photos/129441/pexels-photo-129441.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" width="100%">
                                    <div class="card-block">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                        <button class="btn boton-primario" href="#" [routerLink]="['/blog']">Seguir leyendo</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>