<div class="caja container">

    <div class="row">

        <div class="col-12 col-md-6 login">
            <h3>ACCEDER A CUENTA</h3>
            <form action="">
                <input class="usuario" type="text" placeholder="usuario..." name="usuario"><br>
                <input type="password" placeholder="contraseña..." name="contraseña"><br>
                <button class="btn btn-primary">ACCEDER</button>
                <p></p>
            </form>
        </div>

        <div class="col-12 col-md-6 register">
            <h3>REGISTRATE</h3>
            <form action="" class="">
                <input class="nombre" type="text" placeholder="nombre" name="nombre"><br>
                <input type="text" placeholder="apellidos" name="apellidos"><br>
                <input type="text" placeholder="email" name="email"><br>
                <input type="password" placeholder="contraseña" name="contraseña"><br>
                <input type="password" placeholder="repite tu contraseña" name=""><br>

                <button class="btn btn-primary">ACCEDER</button>
            </form>
        </div>

    </div>
</div>