<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/slider11.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div> -->


<div class="caja container">

    <div class="fondo-img">
        <img src="../../assets/images/imagen4.jpg" class="imagen">
    </div>



    <div class="row">

        <div class="col-12 col-md-6 register">
            <h3>REGISTRATE</h3>
            <form [formGroup]="formRegistro" (ngSubmit)="onSubmitRegistro()">
                <div>
                    <input type="text" placeholder="nombre" name="nombre" formControlName="nombre">
                </div>
                <div>
                    <input type="text" placeholder="apellidos" name="apellidos" formControlName="apellidos">
                </div>
                <div>
                    <input type="text" placeholder="email" name="email" formControlName="email">
                </div>
                <div>
                    <input type="password" placeholder="contraseña" name="contraseña" formControlName="password">
                </div>
                <div>
                    <input type="password" placeholder="repite tu contraseña" name="repitecontraseña" formControlName="password">
                </div>

                <div>
                    <input type="submit" class="btn boton-primario" value="REGISTRATE">
                    <!--  <p>*La contraseña debe tener 8 o más caracteres y debe contener al menos un número, una letra en minúscula y una letra en mayúscula. Los caracteres válidos son: A-Z, a-z, 0-9, @ ! # $ % & ' * + - / = ? ^ _ ` {} ~</p> -->
                </div>

                <p *ngIf="mostrar">El registro se ha realizado correctamente</p>
            </form>
        </div>


        <div class="col-12 col-md-6 login">
            <h3>ACCEDER A CUENTA</h3>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
                <div>
                    <input class="usuario" type="text" placeholder="email@..." name="usuario" formControlName="email">
                </div>
                <div>
                    <input type="password" placeholder="contraseña..." name="contraseña" formControlName="password">
                </div>
                <div>
                    <input type="submit" class="btn boton-primario" value="ACCEDE">

                </div>
            </form>
        </div>


    </div>
</div>