<div class="body container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listaPedido">
                <td><img [src]="producto.imagen1">{{producto.marca}} {{producto.modelo}}</td>
                <td class="texto">{{producto.precio}}€</td>
                <td class="cantidad texto">1x</td>
                <td class="texto">{{producto.precio}}€</td>
                <td class="texto"><i (click)="manejarBorrar(producto.id)" class="far fa-times-circle cerrar"></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>TOTAL</strong></td>
                <td><strong>{{sumaProductos()}}€</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>





    <div class="confirmar">
        <button type="button" class="btn boton-primario" (click)="confirmarPedido()">Confirmar Pedido</button>
    </div>

    <div *ngIf="mostrar">
        <p>Para finalizar su pedido rellene los siguientes campos:</p>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="direccion" formControlName="direccion">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" placeholder="telefono" formControlName="telefono">
            </div>

            <input type="submit" class="btn boton-primario" value="realizar pedido">
        </form>

    </div>


</div>